doctype html
html
include ../partials/header

    body
        div(class='content')
            div(class='flex-wrapper')
                each item in items
                    item(class='item')
                        h3= item.item
                        p= item.category
                        img( src="/images/" + item.item + ".jpg", height='128', width='318')
                        button-wrapper(class='button-wrapper')
                            button(class='button-add')
                                a(href="/items/" + item.id + "/checkOut") Check Out
                            button(class='button-remove')
                                a(href="/items/" + item.id + "/return") Return
include ../partials/footer